html,
body {
    margin: 0px;
    scroll-behavior: smooth;
}

body {
    width: 100vw;
    background-color: #230ca4;
    padding: 0;
    margin: 0;
}

.navbar {
    display: grid;
    grid-template-columns: 1fr 3fr;
    width: 100vw;
    position: fixed;
    top: 0px;
    z-index: 1;
    font-family: 'Poppins', sans-serif;;
    font-weight: 500;
    align-items: center;
    background-color: rgba(35, 12, 164, 0.9);
}


.logo {
    text-align: left;
    padding-left: 3rem;
}

.logo a {
    color: #f4d52c;
    font-weight: normal;
    font-size: 30px;
    text-decoration: none;
}

.menu {
    list-style: none;
    margin: 0px 16px;

    margin-left: 30vw;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.menu > li {
    text-align: center;
}

.menu a {
    display: block;
    padding: 16px 1rem;
    font-weight: normal;
    font-size: 20px;
    line-height: 2em;
    color: #f4d52c;
    text-decoration: none;
}

.menu a:hover {
    background-color: #b250ab;
    color: white;
}

.menu a:active {
    color: transparent;
}

#top {
    background-color: #230CA4;
}

#header {
    width: 58vw;
    padding: 1vw 5vw;
    margin-left: auto;
    margin-right: auto;
}



.home {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: top;


}

.home p {
    font-family: 'Lora', serif;
    position: relative;
    text-align: right;
    padding-right: 20px;
    font-size: 20px;
    color: white;
}

#lists {
    background-color: bisque;
    width: 70vw;
}

#works {

    text-align: center;

}

#photo {
    background-color: papayawhip;
}





.section{
    
    width: 80vw;
    padding: 10vh 10vw;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}













#i1 {
    width: 35vw;
}

#i2 {
    width: 55vw;
    padding-bottom: 50;
}






h2 {
    font-family: 'Poppins', sans-serif;;
    font-weight: 500;
    font-size: 60pt;
    text-align: left;
    color: #f4d52c;
    margin: 0 0 35px 0;
}

h3 {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: purple;
}

p {
    font-family: font-family: 'Lora', serif;
    font-weight: 400;
}







.gallery-item {
    height:
}

.gallery-item img {
    max-width: 100%;

}

.gallery {
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    grid-gap: 15px;

}


}


.wrap {
    max-width: 960px;
    margin: 0 auto;
}

.lg-sub-html,
#lg-counter {
    display: none;
}

.contacts {
    text-align: center;
    margin-top: 100px;
    align-items: center;
   display: grid;
    grid-template-columns: repeat(3, 2fr);
    grid-gap: 100px; 
    width: 60vw;
    margin-left: auto;
    margin-right: auto;
}


#cont {
    text-align: center;
}


#about {
    
}












#gr {
    margin: -220px 0;
    padding-top: 100px;
    height: 100%;
    width: 70vw;
    margin-left: auto;
    margin-right: auto;
    background-repeat: no-repeat;
    background-image: url(img/background.png);
    background-size: 70vw;
    background-position: center;
}



a {
    color: #D3E6D9;
}

p{
  position: absolute;
  bottom: 0;  
  margin-bottom: 0.4vw;
} 

#row2b {
    text-align: right;
}

#row2b > p {
    font-family: 'Lora', serif;
    font-weight: 500;
    position: relative;
    font-size: 4vw;
    color: #f4d52c;
}

#row2b > p:nth-child(1) {
    margin-top: 5vw;
}

#row2b > p:nth-child(2) {
    margin-top: -1.5vw;
    font-size: 6vw;
}

#grid {
    display: grid;
    grid-gap: 1vw;
    grid-template-rows: 5vw;
    grid-auto-rows: 9vw;
    grid-template-columns: 1fr repeat(6, 3fr) 1fr;
}

#grid > div {
    position: relative;
    background-color: #230CA4;
    outline-style: solid;
    outline-color: #230CA4;
    outline-width: 1vw;
}

div#row1a,
div#row2a,
div#row3a,
div#row3b,
div#row4a,
div#row4b,
div#row5a,
div#row5b,
div#row6a,
div#row7b,
div#row8c,
div#row7a,
div#row8a,
div#row9a,
div#row10a,
div#row12a {
    background-color: rgba(64, 67, 78, 0);
}

#row1a,
div#row5a {
    grid-column-end: span 3;
}

#row1b,
div#row2b,
div#row3b,
div#row5c,
div#row8a,
div#row8b,
div#row9a,
div#row12a {
    grid-column-end: span 2;
}

div#row2b {
    grid-row-end: span 2;
}

.back {
    font-family: 'Poppins', sans-serif;
    font-size: 1.8vw;
   color: #f4d52c;
}