*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    background-color: bisque;
}

#home {
    background-color: antiquewhite;
}

#lists {
    background-color: bisque;
    width: 70vw;
}

#works {
    background-color: wheat;
}

#photo {
    background-color: papayawhip;
}





.section {
    min-height: 100vh;
    padding: 10vh 5vw;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.menu {
    text-align: center;
    list-style: none;
    margin: 0 0 50px 0;
    padding: 0;
    text-align: center;
}

.menu li {
    display: inline-block;
}

.menu a {
    display: block;
    font-family: 'Noto Serif', serif;
    margin: 0 30px 0 30px;
    font-size: 20px;
    text-transform: uppercase;
    text-decoration: none;
}





/* для посилань */


.menu a:link {
    color: #C71585;
}

/* при переході посилання змінює колір на стандартний фіолетовий?? */
.menu a:visited {
    color: #C71585;
}

.menu a:hover {
    color: darkblue;
}

.menu a:active {
    color: transparent;
}

.menu .current a {
    color: darkblue;
}




#i1 {
    width: 64%;
}

#i2 {
    width: 55vw;
    padding-bottom: 50;
}




.square,
.list {
    margin: 0 0 30 0;
}





.square {
    counter-reset: li;
    list-style: none;
}

.square li {
    position: relative;
    margin: 0 0 10 10;
    padding: 4px 8px;
    border-top: 2px solid #C71585;
    text-align: left;
}

.square li:before {
    content: counter(li);
    counter-increment: li;
    position: absolute;
    top: -2px;
    left: -2em;
    width: 2em;
    box-sizing: border-box;
    margin-right: 8px;
    padding: 4px;
    border-top: 2px solid #C71585;
    border-left: 2px solid transparent;
    border-right: 2px solid transparent;
    border-bottom: 2px solid transparent;
    background: #C71585;
    color: bisque;
}





.list {
    list-style-type: square;
}

.list li {
    text-align: left;
}

.list a {
    text-decoration: none;
    color: black;
}

.list li:hover {
    color: #C71585;
}

.list a:hover {
    color: #C71585;
}

figure {
    margin: 0;
}

.container {
    width: 90%;
    margin: 0 0 0 0;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(8, 2fr);
    grid-template-rows: repeat(8, 13vw);
    grid-gap: 15px;
}

.gallery__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    margin-left: 0;
    margin-right: 0;
}

.gallery__item--1 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
}

.gallery__item--2 {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 3;
}

.gallery__item--3 {
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 6;
}

.gallery__item--4 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 6;
}

.gallery__item--5 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 6;
    grid-row-end: 9;
}

.gallery__item--6 {
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 6;
    grid-row-end: 9;
}


h2 {
    font-family: 'PT Sans Caption', sans-serif;
    font-weight: 700;
    font-size: 28pt;
    color: darkslateblue;
}

h3 {
    font-family: 'PT Sans Caption', sans-serif;
    font-weight: 700;
    color: purple;
}

p {
    font-family: 'PT Sans Caption', sans-serif;
    font-weight: 400;
}

li {
    font-family: 'PT Sans Caption', sans-serif;
    font-weight: 400;
}

ul {
    list-style-type: square;
}
